services:
  web:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "3000:3000"
      - "3001:3001"
      - "3002:3002"
    environment:
      - DOCKER=true
    command: sh entrypoint.sh

